name: Build and publish to GHCR

# Ejecuta al push en main (ajusta ramas si quieres)
on:
  push:
    branches: [ main ]
  workflow_dispatch:

# Permisos necesarios para poder publicar paquetes con GITHUB_TOKEN
permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (multi-arch, opcional)
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to GHCR using GITHUB_TOKEN (no secret adicional necesario)
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/backend-api:latest
            ghcr.io/${{ github.repository_owner }}/backend-api:${{ github.sha }}
          # optionally enable cache:
          cache-from: type=gha
          cache-to: type=gha,mode=max
